################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/kinetic-app/node_modules

# Build & cache (do not commit)
kinetic-app/dist/
kinetic-app/.angular/

# Visual Studio / Cursor local
.vs/
